.barsContainer {
    display: flex;
    gap: 0.3vw;
    justify-content: center;
    height: 510px;
    padding: 5px;
}

.flipBarsContainer {
    align-items: flex-end;
}

.bar {
    flex:1;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.default-bgColor {
    background: black;
}
