.barsContainer {
    height: 510px;
    display: flex;
    gap: 0.3vw;
    justify-content: center;
    align-items: flex-end;
}

.barsContainer.flipBarsContainer {
    align-items: flex-start;
}

.bar {
    flex:1;
    color: white;
    background: black;
    text-align: center;
    padding-top: 10px;
    font-size:min(4vw, 1rem);
}
