.barsContainer {
    align-items: flex-end;
    display: flex;
    gap: 0.15vw;
    height: 530px;
    overflow: hidden;
}

.bar {
    background: black;
    color: white;
    flex: 1;
    font-size: min(4vw, 1rem);
    padding-top: 10px;
    text-align: center;
}

.barsContainer.flipBarsContainer {
    align-items: flex-start;
}
