#footer {
    font-size:min(4vw, 25px);
    padding: 1em 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute;
    inset: 100vh 0 0 0; */
}

#footer p a {
    color: white;
    text-decoration: none;
}
