*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    all: unset;
}

@media screen and (min-width:1600px) {

    html {
        display: flex;
        justify-content: center;
    }

    body {
        width: 1600px;
        overflow: hidden;
    }
}
